@charset "UTF-8";
/* CSS Document */

a {
	color: #E81478;
}
a.character {
	/*background-image: url(../img/alpha_ring.png);
	background-repeat: no-repeat;*/
	background-color: #158FCB;
	border-radius: 100px;
	color: #FFF;
	float: left;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 3px 0 0;
	text-decoration: none;
	width: 25px;
}
a.active,
a:hover.character {
	/*background-image: url(../img/alpha_ring_hover.png);*/
	background-color: #E81478;
}
.ad {
	text-align: center;
}
body {
	background-attachment: fixed;
	background-image:url(../img/gradient.png);
	background-repeat: repeat-x;
	color: #4D4D4D;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}
a.button, .column_right .box#right_special a.button {
	background: url(../img/button_bg.png) repeat-x center center;
	border: 1px solid transparent;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #fff;
	font-size: 18px;
	font-style: italic;
	margin: 10px 0;
	padding: 10px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #235CAC;
}
a.button:hover, .column_right a.button:hover, .column_right .box#right_special a.button:hover {
	border-color: #CAEAFA;
}
h1, h2, h3, h4 {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin: 5px 5px 5px 0px;
	text-align: left;
}
h1 {
	font-size: 30px;
}
h2, h4 {
	font-size: 20px;
}
.alert {
	background-color: #E81478;
	color: #FFF;
	font-size: 24px;
	padding: 20px;
}
.alpha {
	margin: 0 0 10px 0;
}
.box {
	/*border-top: 1px dashed #CCC;*/
	border-top: 4px solid #eee;
	padding: 10px 0 20px 5px;
	text-align: left;
	width: 440px;
}
.box a.edit {
	font-size: 14px;
}
.box h4 A.edit {
	font-size: 0.8em;
}
.box.foot {
	padding: 15px 0 10px 5px;
}
#right .box,
.box#right, .box#right_special, .def_special  {
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #F2F2F2;
	border: none;
	margin: 0 0 10px 0;
	padding: 5px 15px 15px 15px;
	width: 410px;
}
.box#right_special {
	background: #FFF;
	border: 1px solid #eee;
	width: 408px;
}
.box#right_special a {
	font-size: inherit;
}
.def_special {
	line-height: 20px;
	width: 200px;
}
.box a {
	font-size: 30px;
	font-weight: normal;
}
.box.foot a {
	font-size: inherit;
}
.box a.rate {
	float: left;
	font-size: 12px;
	padding: 15px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 30px;
}
.box a.rate.up {
	background: url(../img/thumb_up.png) center top no-repeat;
	color: #0DB337;
}
.box a.rate.down {
	background: url(../img/thumb_down.png) center top no-repeat;
	color: #FF001A;
}
.btns  {
	clear: both;
	margin: 20px 0 10px 0;
}
.column_left {
	float: left;
	margin: 0 10px 10px 0;
	width: 440px;
}
.column_right {
	float: right;
	clear: right;
	margin: 0 0 10px 10px;
	width: 440px;
}
.date {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 10px 0 10px 0;
}
.date IFRAME {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.date a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.definition {
	color: #1A1A1A;
	font-size: 18px;
	margin: 10px 0 0 0;
}
#DefinitionAddForm h4 {
	margin: 12px 0 2px 0;
}
.example {
	font-style: italic;
	margin: 10px 0 0 0;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline-block;
	padding: 10px;
	width: 900px;
}
.footer_text {
	height: 100px; 
	margin: 5px 0 0 0; 
	overflow: auto; 
	padding: 0 15px; 
	text-align: left;
}
.header {
	height: 115px;
	margin-bottom: 10px;
}
.head_slogan {
	padding: 5px;
}
.header_container {
	background-image: url(../img/header_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	margin: 0 auto;
	padding: 40px 30px 20px 50px;
	width: 940px;
}
.inner_container {
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	background-color: #FFF;
	display: inline-block;
	padding: 10px;
	width: 900px;
}

.inner_container TABLE {
	width: 100%;
}

.inputArea, .inputArea.error {
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: #CAEAFA;
	padding: 5px;
	position: relative;
}
.inputArea.error {
	background-color: #FF7F7F;
}
.inputArea input[type="text"], .inputArea textarea {
	background: url(../img/input_field_bg.png) top repeat-x #FFF;
    border: solid 1px #E1E1E1;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
    display: block;
    padding: 4px;
    width: 420px;
}
.logo {
	background-position: top center;
	background-image: url(../img/slang_logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 115px;
	width: 200px;
}
.logo IMG {
	border: 0px;
}
.outer_container {
	text-align: center;
	width: 100%;
}
.rate {
	float: right;
	width: 60px;
	position: relative;
	margin-top: 5px;
}
.rate DIV {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: white;
	width: 60px;
	height: 39px;
}

#right .rate DIV {
	background-color: #F2F2F2;
}
.search {
	float: left;
	font-size: 16px;
	font-style: italic;
	padding: 0 0 0 20px;
	width: 720px;
}
.search_holder {
	width: 700px;
	height: 60px;
	background: url(../img/search_holder_bg.png) no-repeat;
	float: left;
	position: relative;
}
#search_suggestions {
    background-color: #FFF;
	border: 5px solid #CAEAFA;
    border-radius: 0 0 15px 15px;
	border-top: none;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    left: 30px;
    padding: 0 0 10px 0;
    position: absolute;
    text-align: left;
    top: 54px;
    width: 515px;
    z-index: 100;
}
#search_suggestions a {
	color: #666;
	border-top: 1px solid #EEE;
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 5px 10px;
	text-decoration: none;
}
#search_suggestions a:hover {
	color: #333;
	background: #EEE;
}
#search_suggestions br {
	display: none;
}
#search_suggestions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tag_suggestions {
    background-color: #FFF;
	border: 1px solid #E1E1E1;
	border-top: none;
	/* box-shadow: 1px 1px 1px #999; */
	margin-top: -1px;
	min-width: 100px;
	padding: 0;
	position: absolute;
	overflow: hidden;
	text-align: left;
	z-index: 99;
}
#tag_suggestions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tag_suggestions li {
	border-top: 1px solid #EEE;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tag_suggestions ul li a {
	color: #666;
	display: block;
	font-size: 13px;
	padding: 4px 10px;
	text-decoration: none;
}
#tag_suggestions ul li a:hover {
	color: #333;
	background: #EEE;
}
#tag_suggestions ul li.currentItem {
	color: #333;
	background: #EEE;
}

.text_input {
	-webkit-appearance: caret;
	background: none;
	border: none;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 26px;
	font-style: italic;
	height: 50px;
	padding: 5px 5px 5px 30px;
	width: 515px;
}
.tip {
	color: #B3B3B3;
	font-size: 12px;
	font-style: italic;
}
.tooltip {
	-moz-border-radius: 5px;
	background-color: #CAEAFA;
	border: none;
	margin: 0 0 10px 0;
	padding: 15px;
	text-align: left;
	width: 405px;
}
.tooltip .example {
	margin: 0;
}
.tooltip_holder {
	border: none;
	margin: 0;
	padding: 0 0 0 10px;
	text-align: left;
	width: 415px;
	background: url(../img/arrow_tooltip.png) no-repeat 0 10px;
	position: absolute; 
	left: 450px; 
	top: 0px;
}
.clearfix {
	clear: both;
}

.hidden {
	display: none;
}
.top25 A {
	margin-right: 6px;
}

.list {
	background-color: #CAEAFA;
	border-radius: 10px;
	float: left;
	margin: 0 10px 0 0;
	padding: 10px 0;
	width: 200px;
}
.list ul {
	list-style: none;
	line-height: 18px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.list li a {
	color: #444;
	display: block;
	padding: 3px 6px;
	text-decoration: none;
}
.list li a#active, .list li a:hover {
	background: url(../img/list_highlight.png) right center no-repeat;
	color: #FFF;
}
#right .box.definitions, .box.definitions#right {
	width: 200px;
}
.column_right.definitions {
    float: left;
    width: 230px;
}
.highlight {
	color: #000; 
	font-weight: bold;
	text-decoration: underline;
}
#error-message {
	background: none repeat scroll 0 0 #FFFFDE;
	border: 1px solid #FFCF0F;
	display: block;
	float: left;
	margin: 10px 0 15px;
	min-height: 20px;
	padding: 5px 0 5px 15px;
	position: relative;
	text-align: left;
	width: 880px;
}
#error-message DIV {
	margin: 10px 0px;
}

/* ADMIN */
.actions ul {
	list-style-type: none;
}
.actions ul li {
	display: inline-block;
}
.definitions {
	font-size: 12px;
	text-align: left;
}
.definitions br {
	display: none;
}
.definitions p {
	text-align: center;
}
.definitions .paging {
	text-align: center;
}
.definitions td, .definitions th {
	border-right: 1px solid #FFF;
	margin-right: 1px;
	padding: 2px;
	vertical-align: text-top;
}
.definitions td {
	border-bottom: 1px solid #EEE;
}
.definitions th {
	background-color: #EEE;
	border-bottom: 1px solid #FFF;
}
.definitions tr.altrow {
	background-color: #f7f7f7;
}